<!doctype html>
<head>
  <title>ISOList</title>
  <link rel="icon" type="image/ico" href="http://10.44.86.30/isolist/2.x/favicon.ico" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='isolist.js') }}"></script> 
</head>

<body onload="colour_all()" id="body-wrap">
 
  <table id="body_tab">
    <tr>
      <th>File name</th>
      <th>Mirror</th>
      <th>Last modified</th>
      <th>Sprint</th>
      <th>OS Patches</th>
      <th>VCDB</th>
      <th>PCDB</th>
      <th>UVCDB</th>
      <th>UPCDB</th>
      <th>EXPCDB</th>
      <th>ECDB</th>
      <th>STCDB</th>
      <th>DTMT</th>
      <th>Comment</th>
    </tr>

    {% for iso in iso_list %}
      <tr class="{{iso.find('file_name').text}}">
      <td>{{Isolist.link_from_30(iso.find('file_name').text)}}</td>
      <td>
        <a href="https://arm101-eiffel004.lmera.ericsson.se:8443/nexus/service/local/artifact/maven/redirect?r=litp_releases&g=com.ericsson.nms.litp&a=ERIClitp_CXP9024296&v={{Isolist.get_version(iso.find('file_name').text)}}&e=iso">
          {{Isolist.get_version(iso.find('file_name').text)}}
        </a>
      </td>
      <td>{{iso.find('last_mod').text}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'sprint')}}"
          onblur="save_tag(this.id)"
          class="sprint"
      >{{Isolist.hide_none(iso.find('sprint').text)}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'ospatches')}}"
          onblur="save_tag(this.id)"
          class="ospatches"
      >{{Isolist.hide_none(iso.find('ospatches').text)}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'vcdb')}}"
          onblur="save_tag(this.id)"
          class="vcdb"
      >{{Isolist.hide_none(iso.find('vcdb').text)}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'pcdb')}}"
          onblur="save_tag(this.id)"
          class="pcdb"
      >{{Isolist.hide_none(iso.find('pcdb').text)}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'uvcdb')}}"
          onblur="save_tag(this.id)"
          class="uvcdb"
      >{{Isolist.hide_none(iso.find('uvcdb').text)}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'upcdb')}}"
          onblur="save_tag(this.id)"
          class="upcdb"
      >{{Isolist.hide_none(iso.find('upcdb').text)}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'expcdb')}}"
          onblur="save_tag(this.id)"
          class="expcdb"
      >{{Isolist.hide_none(iso.find('expcdb').text)}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'ecdb')}}"
          onblur="save_tag(this.id)"
          class="ecdb"
      >{{Isolist.hide_none(iso.find('ecdb').text)}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'stcdb')}}"
          onblur="save_tag(this.id)"
          class="stcdb"
      >{{Isolist.hide_none(iso.find('stcdb').text)}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'dtmt')}}"
          onblur="save_tag(this.id)"
          class="dtmt"
      >{{Isolist.hide_none(iso.find('dtmt').text)}}</td>
      <td contenteditable="true" 
          id="{{'{0}_{1}'.format(iso.find('file_name').text, 'comment')}}"
          onblur="save_tag(this.id)"
          onkeypress="editable_jira_links(true)"
          class="comment"
      >{{Isolist.proc_jira(Isolist.hide_none(iso.find('comment').text))}}</td>
      
      </tr>
    {% endfor %}

  </table>

  <h2>To do:</h2>
  Jenkins integration<br>
  Reduce number of ISOs per page




</body>

